@import "constants/colors.less";
@import "functions/mixins.less";

@import "modals.less";
@import "text.less";
@import "input.less";
@import "widgets.less";

@import "loading.less";
@import "menu.less";
@import "home.less";
@import "header.less";

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0; margin: 0;
  background-color: @color-light;
  font-size: 14px;
}

div {
  box-sizing: border-box;
}

br {
  display: block;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  line-height: 0px;
  content: " ";
}

*::after, *::before {
  box-sizing: border-box;
}

#viewport {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: repeating-linear-gradient(
    -45deg,
    @color-light,
    @color-light 5px,
    darken(@color-light, 1%) 5px,
    darken(@color-light, 1%) 10px
  );
}
